* {
  font-family: Raleway;
}
 .social-icon{
   color: #908C8E;
 }

 .twitter:hover{
  color: #1DA1F2;
}
 
.facebook:hover{
 color: #4267B2;
} 
.linkedin:hover{
 color: #2867B2;
}
 
.instagram:hover{
 color: #C13584;
}

.github:hover{
 color: #211F1F;
}

.bg-jumbotron {
  background-image: url(./img/fondo-custom.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;
}


@media (max-width: 750px) {
  .banner .display-1 {
    font-size: 3rem;
  }
  .banner .display-4 {
    font-size: 2rem;
  }
}