
 .social-icon{
   color: #908C8E;
 }

 .Twitter:hover{
  color: #1DA1F2;
}
 
.Facebook:hover{
 color: #4267B2;
} 
.Linkedin:hover{
 color: #2867B2;
}
 
.Instagram:hover{
 color: #C13584;
}

.Github:hover{
 color: #211F1F;
}

.jumbotronCustom {
    background-image:url('./img/fondo-custom.jpg');
    background-size: cover;
    background-position: center;
    
} 
 
 
@media (max-width: 750px) {
  .banner .display-1 {
    font-size: 3rem;
  }
  .banner .display-4 {
    font-size: 2rem;
  }

  
}